{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Welcome to AgroTwin Core</h1>
            <p class="lead">Your platform for smart agriculture solutions.</p>
            <hr class="my-4">
            <p>Get started by exploring our features and tools designed to help you manage your farm efficiently.</p>
            <a class="btn btn-success btn-lg" href="/dashboard" role="button">Go to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}